<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset= UTF-8">
<link rel="stylesheet" type="text/css" media="all"
	href="/styles/styles.css" th:href="@{/styles/styles.css}" />
<title>Add New Disc!</title>
</head>
<body>
	<div class="centerDisclist">
	<h1>Add New Disc</h1>
	<form action="#" th:action="@{/adddisc}" method="post" th:object="${disc}">
		<label>Disc name:</label>
		<input type="text" th:field="${disc.name}"/><br/>
		
		<label>Disc Manufacturer:</label>
		<input type="text" th:field="${disc.manufacturer}"/><br/>
		
		<label>Disc Type:</label>
		<input type="text" th:field="${disc.discType}"/><br/>
		
		<label>Disc colour:</label>
		<input type="text" th:field="${disc.colour}"/><br/>
		
		<label>Speed:</label>
		<input type="text" th:field="${disc.speed}"/><br/>
		
		<label>Glide:</label>
		<input type="text" th:field="${disc.glide}"/><br/>
		
		<label>Turn:</label>
		<input type="text" th:field="${disc.turn}"/><br/>
		
		<label>Fade:</label>
		<input type="text" th:field="${disc.fade}"/><br/>
		
		<button type="submit">Save</button>
	</form>
		<a href="/disclist"><button>Go back</button></a>
	</div>
</body>
</html>