<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta http-equiv="Content-Type" content="text/html; charset= UTF-8">
<link rel="stylesheet" type="text/css" media="all"
	href="/styles/styles.css" th:href="@{/styles/styles.css}" />
<title>List Of Our Discs</title>
</head>
<body>

	<div class="centerMainpage">

		<h1>List Of Our Bags</h1>
		<form action=""></form>
		<table>
			<tr>
				<td>Name</td>
				<td>Manufacturer</td>
			</tr>
			<tr th:each="bag:${baglist}">
				<td><a th:href="@{'/bagpage/' + ${bag.Id}}" th:text="${bag.name}"></a></td>
				<td th:text="${bag.manufacturer}"></td>
			</tr>
		</table>

		<a href="/addbag"><button>Add New Bag</button></a>
		<a href="/home"><button>Home Page</button></a>
		<form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>

	</div>

</body>
</html>