<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta http-equiv="Content-Type" content="text/html; charset= UTF-8">
<link rel="stylesheet" type="text/css" media="all"
	href="/styles/styles.css" th:href="@{/styles/styles.css}" />
<title th:text="@{disc.name}"></title>
</head>
<body>
	<div class="centerDisclist">

		<h1 th:text="${disc.name}"></h1>
		<table>
			<tr>
				<td>Name</td>
				<td>Manufacturer</td>
				<td>Disc Type</td>
				<td>Colour</td>
				<td>Speed</td>
				<td>Glide</td>
				<td>Turn</td>
				<td>Fade</td>
			</tr>
			<tr th:object="${disc}">

				<td th:text="${disc.name}">Name</td>
				<td th:text="${disc.manufacturer}">Manufacturer</td>
				<td th:text="${disc.discType.discType}">Disc Type</td>
				<td th:text="${disc.colour}">Disc Colour</td>
				<td th:text="${disc.speed}">Speed</td>
				<td th:text="${disc.glide}">Glide</td>
				<td th:text="${disc.turn}">Turn</td>
				<td th:text="${disc.fade}">Fade</td>

				<td sec:authorize="hasAuthority('ROLE_ADMIN')"><a th:href="@{'/editdisc/' + ${disc.discId}}"><button>Edit</button></a></td>

				<td sec:authorize="hasAuthority('ROLE_ADMIN')"><a th:href="@{'/deletedisc/' + ${disc.discId}}"><button>Delete</button></a></td>

			</tr>
			
		</table>


		<a href="/disclist"><button>Go back</button></a>

	</div>
</body>
</html>