<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta http-equiv="Content-Type" content="text/html; charset= UTF-8">
<link rel="stylesheet" type="text/css" media="all"
	href="/styles/styles.css" th:href="@{/styles/styles.css}" />
<title>List Of Our Discs</title>
</head>
<body>

	<div class="centerMainpage">

		<h1>List Of Our Discs</h1>
		<form action=""></form>
		<table>
			<tr>
				<td>Name</td>
				<td>Manufacturer</td>
			</tr>
			<tr th:each="disc:${disclist}">
				<td><a th:href="@{'/discpage/' + ${disc.discId}}" th:text="${disc.name}"></a></td>
				<td th:text="${disc.manufacturer}"></td>
			</tr>
			<tr th:each="profile:${profilelist}">
				<td><a th:href="@{'/profilepage/' + ${profile.id}}" th:text="${profile.name}"></a></td>
			</tr>
		</table>

		<a th:href="@{/adddisc}"><button>Add New Disc</button></a>

	</div>

</body>
</html>