<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta http-equiv="Content-Type" content="text/html; charset= UTF-8">
<title>List Of Our Discs</title>
</head>
<body>
<h1>
	List Of Our Discs 
</h1>
<form action="">

</form>
<table>
	<tr>
		<td>Name</td>
		<td>Manufacturer</td>
		<td>Disc Type</td>
		<td>Colour</td>
		<td>Speed</td>
		<td>Glide</td>
		<td>Turn</td>
		<td>Fade</td>	
	</tr>
	<tr th:each = "disc:${disclist}">
		<td th:text="${disc.name}"></td>
		<td th:text="${disc.manufacturer}"></td>
		<td th:text="${disc.discType}"></td>
		<td th:text="${disc.colour}"></td>
		<td th:text="${disc.speed}"></td>
		<td th:text="${disc.glide}"></td>
		<td th:text="${disc.turn}"></td>
		<td th:text="${disc.fade}"></td>
		<td><a th:href="@{'/editdisc/' + ${disc.discId}}">Edit</a></td>
		<td><a th:href="@{'/deletedisc/' + ${disc.discId}}">Delete</a></td>
	</tr>
</table>

<a th:href="@{/adddisc}">Add New Disc</a>

</body>
</html>