<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<link rel="stylesheet" type="text/css" media="all" href="/css/styles.css" th:href="@{/css/styles.css}" />
<head>
<meta http-equiv="Content-Type" content="text/html; charset= UTF-8">
<link rel="stylesheet" type="text/css" media="all"
	href="/styles/styles.css" th:href="@{/styles/styles.css}" />
<title>Add New Disc!</title>
</head>
<body>
	
	<div class = "centerDisclist">
	<h1>Editor</h1>
	<form action="#" th:action="@{/editdisc}" method="post" th:object="${disc}">
	
		<input type="hidden" th:field="*{discId}"/>
		
		<label>Disc name:</label>
		<input type="text" th:field="*{name}"/><br/>
		
		<label>Disc Manufacturer:</label>
		<input type="text" th:field="*{manufacturer}"/><br/>
		
		<label>Disc Type:</label>
		<input type="text" th:field="*{discType}"/><br/>
		
		<label>Disc colour:</label>
		<input type="text" th:field="*{colour}"/><br/>
		
		<label>Speed:</label>
		<input type="text" th:field="*{speed}"/><br/>
		
		<label>Glide:</label>
		<input type="text" th:field="*{glide}"/><br/>
		
		<label>Turn:</label>
		<input type="text" th:field="*{turn}"/><br/>
		
		<label>Fade:</label>
		<input type="text" th:field="*{fade}"/><br/>
		
		<button type="submit">Save</button>
		
	</form>
	
	<a th:href="@{'/discpage/' + ${disc.discId}}"><button>Go back</button></a>
		
	</div>
</body>
</html>