<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta http-equiv="Content-Type" content="text/html; charset= UTF-8">
<link rel="stylesheet" type="text/css" media="all"
	href="/styles/styles.css" th:href="@{/styles/styles.css}" />
<title>Insert title here</title>
</head>
<body>
	<div class="centerMainpage">

	<h1>Welcome to Disc Golf Marketplace</h1>
	
	<a href="/disclist"><button>Discs!</button></a>

	<a href="/baglist"><button>Bags!</button></a>
	
	</div>
</body>
</html>